.main-title {
    font-family: Inter;
    font-weight: bold;
    font-size: 36px;
    margin-top: 40px;
}

.main-title_left-gapped {
    font-family: Inter;
    font-weight: bold;
    font-size: 36px;
    margin: 40px 18%;
}

.path-form {
    font-family: Inter;
}

.path-form_left-gapped {
    font-family: Inter;
    margin-left: 18%;
}

.path-form__label {
    font-size: 24px;
    font-weight: 500; /*medium*/
    display: block;
    margin-top: 15px;
}

.path-form__input {
    width: 64%;
    display: block;
    font-size: 24px;
    font-weight: normal;
    padding: 5px;
    margin-top: 10px;
}

.path-form__submit {
    display: block;
    font-family: Inter;
    font-weight: 600; /*semi-bold*/
    font-size: 20px;
    color: #fff;
    background-color: #000;
    width: 155px;
    height: 55px;
    margin-top: 40px;
    border-style: none;
    border-radius: 5px;
}

.output-form {
    font-family: Inter;
}

.output-form_left-gapped {
    font-family: Inter;
    margin-left: 18%;
}

.output-form__label{
    display: block;
    font-family: Inter;
    font-weight: bold;
    font-size: 32px;
    margin-top: 60px;
}

.output-form__textarea {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    font-family: Inter;
    font-weight: normal;
    font-size: 20px;
    margin-top: 20px;
    width: 64%;
    resize: none;
}

